@import "~bulma/bulma";

body {
    font-family: monospace;
    font-size: 1.2rem;
    line-height: 1.47;
}

.navbar-item img {
    max-height: unset;
}

.icon {
    padding: 0 1rem;
}

.tag:not(body) {
    font-size: 1rem;
}

a, span, i {
    vertical-align: middle;
}
