@import "~bulma/bulma";

body {
    font-family: monospace;
    font-size: 1.2rem;
    line-height: 1.47;
}

.navbar-item img {
    max-height: unset;
}

/**
header.hero {
    background-image: linear-gradient(to right, rgba(58, 187, 103, 0.73), rgba(91, 224, 23, 0.75)), url(https://i.imgur.com/Oy8EIe4.jpg);
    background-size: cover;

    color: white;

    .navbar-item:hover {
        background: none;
        color: white;
    }

    .navbar-menu.is-active {
        background: rgba(255, 255, 255, 0.2);
    }
}
**/
