mixin section(title, anchor, isCategory)
    if isCategory === true
        section.section.content: .container: .columns.is-mobile.is-centered: .column.is-three-fifths-desktop
            h2.title.has-text-centered.is-2(id=anchor)= title
            block
    else
        h3.title.has-text-centered.is-5(id=anchor)= title
        block
