footer.footer
    .content.has-text-centered
            p
                | (C) 2019 #[strong MAPPO] by #[i Main Assembly of Parallel Phase Organization]
                br
                | This site is licensed #[a(href="http://creativecommons.org/licenses/by/4.0/") CC BY 4.0]. Images on this site is licensed #[a(href="#") CC0].
