section.hero.is-fullheight.is-success.is-bold
    .hero-head
        nav.navbar: .container
            .navbar-brand
                a.navbar-item(href="#")
                    figure.image.is-48x48
                        img(src="https://s3-ap-northeast-1.amazonaws.com/felesitas.cloud.storage/media_attachments/files/002/069/930/original/6ebf7626f7b975f1.png").is-rounded

                span.navbar-burger.burger(data-target="menu")
                    span
                    span
                    span

            .navbar-menu#menu: .navbar-end
                a(href="#who").navbar-item
                    span.icon: i.fas.fa-user-tag
                    span Who

                a(href="#disco").navbar-item
                    span.icon: i.fas.fa-file-alt
                    span Discography

                span.navbar-item: a(href="#").button.is-primary.is-inverted
                    span.icon: i.fab.fa-github
                    span GitHub

    .hero-body: .container
        h1.title.is-1 Chitose's site
        h2.subtitle.is-3 This site is under construction now.
