header.hero.is-fullheight.is-success.is-bold
    .hero-head
        nav.navbar: .container
            .navbar-brand
                a.navbar-item(href="#")
                    figure.image.is-48x48
                        img(src="").is-rounded

                span.navbar-burger.burger(data-target="menu")
                    span(aria-hidden=true)
                    span(aria-hidden=true)
                    span(aria-hidden=true)

            .navbar-menu#menu: .navbar-end
                a(href="#who").navbar-item
                    span.icon: i(aria-hidden="true").fas.fa-user-tag
                    span Who

                a(href="#disco").navbar-item
                    span.icon: i(aria-hidden="true").fas.fa-file-alt
                    span Achivements

                a(href="#links").navbar-item
                    span.icon: i(aria-hidden="true").fas.fa-link
                    span Link

    .hero-body: .container
        h1.title.is-1 MAPPO
        h2.subtitle.is-3 ...an organization that seeks the ultimate apocalypse
