title MAPPO

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

meta(name="description"  content="An organization that seeks the ultimate apocalypse")
meta(name="author"       content="Main Assembly of Parallel Phase Organization")
meta(name="theme-color"  content="#29b342")

meta(property="og:type"          content="Website")
meta(property="og:title"         content="MAPPO")
meta(property="og:locale"        content="en_US")
meta(property="og:description"   content="An organization that seeks the ultimate apocalypse")
meta(property="og:site_name"     content="Lunaris")
meta(property="og:url"           content="")
